.App {
  text-align: center;
}

.name-and-image {
  text-align: center;
}

.Section {
  justify-content: center;
  width: fit-content;
  border-style: groove;
  border-width: medium;
  border-color:grey;
}

.Section-title {
  font-weight: bolder;
}

.Section-image {
  font-weight: bolder;
}

.Section-text {
  font-weight: bolder;
}